/* start of general section */
:root {
  --main-color-gray: #F7F7F7;
  --main-color-black: #1C1C1C;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
.navbar-brand {
  font-family: "Montserrat", sans-serif;
}



.main-header h1 {
  font-weight: 900;
  font-size: 40px;
  z-index: 2;


}

.main-header::after {
  content: "";
  position: absolute;
  background-image: url(../images/dots.png);

  width: 100%;
  height: 47%;
}



.main-header .pointer {
  width: 210px;
  top: 55%;
}

.main-header .pointer p {
  color: #E7E7E7;
}

/* end of jeniral section */




/* start of navbar */
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link.show {
  color: white;
  position: relative;
}



nav .navbar-brand {
  margin-left: 150px;
}


@media screen and (min-width: 140px) and (max-width: 780px) {
  nav .navbar-brand {
    margin-left: 10px;
  }
}

nav .navbar-nav .nav-link.active::after {
  content: "";
  width: 90%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

nav .nav-link {
  color: #fff;
}


/* end of navbar */

/* start of home section */
#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(../images/bg.jpg);
  height: 100vh;

  background-size: cover;

}

#home .home-caption h5 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 10px;
}

#home .home-caption h1 {
  font-weight: 100px;
  font-size: 60px;
}



#home .home-caption h1 span {
  position: relative;

}

#home .home-caption h1 span::before {
  content: "";
  animation: words 7s infinite;

}

@media screen and (min-width: 140px) and (max-width: 780px) {
  #home .home-caption h1  {
    font-size: 30px;
  }
}


#home .home-caption h1 span::after {
  content: "";
  width: calc(100% + 8px);
  height: 100%;
  position: absolute;
  background-color: transparent;
  border-left: 2px solid;


  right: -8px;
  animation: typing 7s infinite;
}




@keyframes words {
  1.5% {

    content: "L";
  }

  3% {
    content: "La";
  }

  4.5% {
    content: "Lar";
  }

  6% {

    content: "Larr";
  }

  7.5% {
    content: "Larry";
  }

  9% {
    content: "Larry ";
  }

  10.5% {

    content: "Larry D";
  }

  12% {
    content: "Larry Da";
  }

  13.5% {
    content: "Larry Dan";
  }

  15% {

    content: "Larry Dani";
  }

  16.5% {
    content: "Larry Danie";
  }

  18% {
    content: "Larry Daniel";
  }

  19.5% {

    content: "Larry Danie";
  }

  21% {
    content: "Larry Dani";
  }

  22.5% {
    content: "Larry Dan";
  }

  24% {

    content: "Larry Da";
  }

  25.5% {
    content: "Larry D";
  }

  27% {
    content: "Larry ";
  }

  28.5% {
    content: "Larry";
  }

  30% {
    content: "Larr";
  }

  31.5% {
    content: "Lar";
  }

  33% {
    content: "La";
  }

  34.5% {
    content: "L";
  }

  36% {
    content: "";
  }

  37.5% {
    content: "D";
  }

  39% {
    content: "De";
  }

  40.5% {
    content: "Dev";
  }

  42% {
    content: "Deve";
  }

  43.5% {
    content: "Devel";
  }

  45% {
    content: "Develo";
  }

  46.5% {
    content: "Develop";
  }

  48% {
    content: "Develope";
  }

  49.5% {
    content: "Developer";
  }

  51% {
    content: "Develope";
  }

  52.5% {
    content: "Develop";
  }

  54% {
    content: "Develo";
  }

  55.5% {
    content: "Devel";
  }

  57% {
    content: "Deve";
  }

  58.5% {
    content: "Dev";
  }

  60% {
    content: "De";
  }

  61.5% {
    content: "D";
  }

  63% {
    content: "";
  }

  68% {
    content: "D";
  }

  72% {
    content: "De";
  }

  75% {
    content: "Des";
  }

  78% {
    content: "Desi";
  }

  81% {
    content: "Desig";
  }

  84% {
    content: "Design";
  }

  87% {
    content: "Designe";
  }

  90% {
    content: "Designer";
  }

  92% {
    content: "Designe";
  }

  93% {
    content: "Design";
  }

  94% {
    content: "Desig";
  }

  95% {
    content: "Desi";
  }

  96% {
    content: "Des";
  }

  97% {
    content: "De";
  }

  98% {
    content: "D";
  }

  99% {
    content: "D";
  }

  100% {
    content: "";
  }



}

@keyframes typing {

  0%,
  30%,
  50%,
  70%,
  90%,
  100% {
    width: 0;

  }


}




#home .home-icons .icon {
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.5);
}

#home .home-icons .icon i {
  color: white;
  font-size: 12px;
}



/* end of home section */

/* start of about section */
#about .col-md-6 .sup-title {
  color: #999;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;

}

#about .col-md-6 p {
  line-height: 1.6;
  margin: 0;
  font-size: 15px;
  color: #748182;
}

#about .col-md-5 .points {
  width: 90%;

}




#about .col-md-5 .points .image {

  width: 90%;
  left: 40px;
  bottom: 120px;
}


#about .col-md-5 .points .image::before {
  content: "";
  position: absolute;
  background-image: url(../images/dots.png);


  width: 6%;
  height: 70%;
  right: 100%;
  bottom: 0;

}

#about .col-md-5 .points .image::after {
  content: "";
  position: absolute;
  background-image: url(../images/dots.png);


  top: 101%;
  right: 21%;
  height: 6%;
  width: 85%;
}

#about .col-md-6 .div1 {
  height: 25px;
  background-color: #F4F4F4;
}

#about .col-md-6 .div1 .div2 {
  width: 95%;
  background-color: #1C1C1C;

}

#about .col-md-6 .div1 .div3 {
  width: 80%;
  background-color: var(--main-color-black);
}

#about .col-md-6 .div1 .div4 {
  width: 90%;
  background-color: var(--main-color-black);
}

#about .col-md-6 .b1 {
  border-radius: 5px;
  background-color: var(--main-color-black);
  color: #fff;
  transition: 0.5s all;
  border: 1px solid var(--main-color-black);

}

#about .col-md-6 .b1:hover {
  background-color: #fff;
  color: #1C1C1C;

}


#about .col-md-6 .b2 {
  border-radius: 5px;
  background-color: #fff;
  color: var(--main-color-black);
  border: 1px solid var(--main-color-black);
  transition: 0.5s all;
}

#about .col-md-6 .b2:hover {
  background-color: var(--main-color-black);
  color: #fff;

}


/* end of about section */

/* start of services section */

#services {
  background-color: var(--main-color-gray);
}

#services .inner {

  width: 100%;

}

#services .inner h1 {
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 22px;
}

#services .icon {
  background-color: var(--main-color-gray);
  width: 70px;
  height: 70px;
  transition: 0.5s all;
}

#services .inner .icon i {
  font-size: 25px;
  transition: 0.5s all;
}

#services .inner p {
  word-spacing: 2px;
  font-size: 16px;
  color: #748182;

}

#services .inner:hover .icon {
  background-color: var(--main-color-black);
}

#services .col-md-4 .inner:hover i {
  color: #fff;
}





/* end of services section */

/* start of works section */
#works .nav-tabs {
  border: none;
}

#works .nav-tabs .nav-link {
  border: none;
  color: var(--main-color-black);
  font-weight: 700;
}

#works .nav-tabs .nav-item.nav-link.show .nav-link,
#works .nav-tabs .nav-link.nav-link.active {
  color: var(--main-color-black);
  position: relative;
}

#works .nav-tabs .nav-item.nav-link.show .nav-link,
#works .nav-tabs .nav-link.nav-link.active::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: var(--main-color-black);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#works .row .col-md-4 .inner {
  width: 100%;

}

#works .row .col-md-4 .inner .layer {
  width: 97%;
  height: 97%;
  background-color: white;
  opacity: 0;
  top: 5%;
  transition: 0.5s all;

}

#works .row .col-md-4 .inner .layer h6 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 15px;

}

#works .row .col-md-4 .inner .layer .con1 {
  width: 30px;
  height: 30px;
  background-color: var(--main-color-black);
  border: 1px solid var(--main-color-black);



}

#works .row .col-md-4 .inner .layer .con1 i {
  color: #fff;
  font-size: 13px;

}

#works .row .col-md-4 .inner:hover .layer {
  opacity: 1;
  top: 1.5%;
}

#works .row .col-md-4 .inner .con1:hover {
  background-color: #fff;
}

#works .row .col-md-4 .inner .con1:hover i {
  color: var(--main-color-black);
}

/* start of works section */

#clients {
  background-color: var(--main-color-gray);
}

#clients .container .col-md-10 .image {
  height: 90px;
  width: 90px;

}

#clients .container .col-md-10 p {
  color: #748182;
}

#clients .container .col-md-10 .pp {
  font-size: 13px;
}

#clients .carousel-indicators .active {
  background-color: #869791;
  width: 10px;
  height: 10px;
}

#clients .carousel-indicators button {
  width: 10px;
  height: 10px;
  background-color: #999;
}

#clients .carousel-indicators button:hover {
  background-color: #869791;
}

/* start of clients section */

/* start of rang section */
#rang .container .inner {
  width: 85%;
}

#rang .container .inner i {
  font-weight: bold;
}


#rang .container .inner h2 {
  font-weight: 900;
}

#rang .container .inner p {
  font-weight: bolder;
  color: #748182;
}

/* start of rang section */


/* start of team section */

#team {
  background-color: var(--main-color-gray);
}

#team .container .inner {
  width: 90%;
}

#team .container .inner .sum {
  width: 95%;
  background-color: #5B5B5B;
}

#team .container .inner .sum h3 {
  color: #fff;
}

#team .container .inner .sum .layer {
  width: 97%;
  height: 97%;
  background-color: rgba(254, 254, 254, 0.93);
  top: 1.5%;
  left: 1.5%;
  opacity: 0;
  transition: 0.5s all;

}

#team .container .inner .sum:hover .layer {
  opacity: 1;
  transform: rotatey(180deg);
}

#team .container .inner .sum .image img {
  transition: 0.5s all;

}

#team .container .inner .sum .image {
  overflow: hidden;
}

#team .container .inner .sum .image:hover img {
  transform: scale(1.2);
}

#team .container .inner .sum .layer .icon {
  width: 40px;
  height: 40px;
  background-color: var(--main-color-black);
  border: 1px solid var(--main-color-black);
}

#team .container .inner .sum .layer .icon i {
  color: #fff;
  transform: rotatey(180deg);
}

#team .container .inner .sum .layer .icon:hover {
  background-color: #fff;
}

#team .container .inner .sum .layer .icon:hover i {
  color: var(--main-color-black);
}



/* end of team section */



/* start of contact section */

#contact .inner {
  width: 70%;
}

#contact .inner .sum .icons {
  width: 60px;
  height: 60px;
  background-color: var(--main-color-gray);
  transition: 0.5s all;
}

#contact .inner .sum h5 {
  font-weight: bold;
  font-size: 18px;
}

#contact .inner .sum p {
  color: #868182;
  margin-bottom: 0;
}

#contact .inner .sum:hover .icons {
  background-color: var(--main-color-black);
}

#contact .inner .sum i {
  transition: 0.5s all;
}

#contact .inner .sum:hover i {
  color: var(--main-color-gray);
}

#contact .inner .name {

  height: 40px;
  background-color: #F4F4F4;
  border: none;
  border-radius: 5px;
}

#contact .inner .email {

  height: 40px;
  background-color: #F4F4F4;
  border: none;
  border-radius: 5px;
}

#contact .inner textarea {
  width: 100%;

  height: 150px;
  max-height: 150px;
  border: none;
  border-radius: 5px;
  box-sizing: 0;
  background-color: #F4F4F4;
}

#contact .inner button {
  width: 130px;
  border: 1px solid var(--main-color-black);
  background-color: var(--main-color-black);
  border-radius: 5px;
  color: #fff;
  transition: 0.5s all;
}

#contact .inner button:hover {
  background-color: #fff;
  color: var(--main-color-black);
}

#contact .blackdiv {
  background-color: var(--main-color-black);
  width: 100%;

}

#contact .blackdiv p {
  color: #748175;
  font-size: 14px;
}

/* end of contact section */